// Variables
$body-font: "Open Sans",
"sans-serif";
$header-bg: #000;
$header-text: #fff;
$redes-color: #fff;
$redes-hover-gradient: linear-gradient(to right bottom,
#d16ba5,
#c777b9,
#ba83ca,
#aa8fd8,
#9a9ae1,
#8aa7ec,
#79b3f4,
#69bff8,
#52cffe,
#41dfff,
#46eefa,
#5ffbf1);

// Mixins
@mixin hover-gradient {
    background: #9a9a9a;
    transform: scale(1.05);
    background: $redes-hover-gradient;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@mixin shops ( $position , $repeat ) {
    background-position: $position;
    background-repeat: $repeat;
}

// Header
.headertop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $header-bg;
    color: $header-text;
    width: 100%;

    .redes i {
        color: $redes-color;
        font-size: 25px;
        text-decoration: none;
        letter-spacing: 15px;
        margin-top: 5px;
        margin-bottom: 5px;

        &:hover {
            @include hover-gradient;
        }
    }
}


/* Nav */

.logo {
    text-align: right;
    text-decoration: none;

    img {
        height: 80px;

        &:hover {
            scale: 1.03;
        }
    }
}

.navbar-toggler {
    border: 0;
}

span .fa-solid {
    color: #000000;
    font-size: 25px;
    margin-right: 30px;
    margin-top: 0;
}

#navbarid {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    font-weight: bold;
    text-transform: capitalize;
    box-sizing: border-box;

    .barra {
        padding-right: 50px;

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            list-style: none;
            margin: 20px;

            li {
                margin: 20px;

                a {
                    color: #000000;
                    text-decoration: none;
                    font-size: 18px;

                    &:hover,
                    &:active {
                        background: #9a9a9a;
                        background: linear-gradient(to right bottom,
                                #d16ba5,
                                #c777b9,
                                #ba83ca,
                                #aa8fd8,
                                #9a9ae1,
                                #8aa7ec,
                                #79b3f4,
                                #69bff8,
                                #52cffe,
                                #41dfff,
                                #46eefa,
                                #5ffbf1);
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                    }
                }
            }
        }
    }
}

/* Section */

.secimg {
    background-color: #000000;
    width: 100%;
    height: 500px;
    background-image: url(./img/nncv5.jpg);
    background-size: cover;
    background-position: bottom;
    margin-top: -60px;
    margin-bottom: 30px;

    h1 {
        color: rgba(255, 255, 255, 0.457);
        font-size: 70px;
        text-align: center;
        padding-top: 220px;
        width: 100%;
    }
}

/* INDEX/HOME */

.titulo {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 30px;
}

.mainhome1 {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 450px);
    grid-gap: 15px;

    .image:hover {
        scale: 1.01;
    }

    // .image {
    //     width: 100%;
    //     background-color: black;
    //     background-size: cover;
    //     background-position: center;
    //     display: grid;
    // }

    .image13 {
        background-image: url(./img/gonmskback.png);
        @include shops( center , no-repeat );
    }

    .image14 {
        background-image: url(./img/pizzabacknegra.png);
        @include shops( center , no-repeat );
    }

    .image15 {
        background-image: url(./img/gonmsk.png);
        @include shops( center , no-repeat );
    }
}

.mainhome2 {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 450px);
    grid-gap: 15px;

    .image:hover {
        scale: 1.01;
    }

    .image16 {
        background-image: url(./img/pizzabacknegra.png);
        @include shops( center , no-repeat );
    }

    .image17 {
        background-image: url(./img/pizzabacknegra.png);
        @include shops( center , no-repeat );
    }

    .image18 {
        background-image: url(./img/pizzabacknegra.png);
        @include shops( center, no-repeat );
    }

    .image19 {
        background-image: url(./img/pizzafrontnegra.png);
        @include shops( center, no-repeat );
    }
}

.mainhome3 {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 450px);
    grid-gap: 15px;

    .image:hover {
        scale: 1.01;
    }

    .image20 {
        background-image: url(./img/classicbackblanca.png);
        @include shops( center , no-repeat );
    }

    .image21 {
        background-image: url(./img/calidreaming.png);
        @include shops( center , no-repeat );
    }

    .image22 {
        background-image: url(./img/classicfrontblanca.png);
        @include shops( center , no-repeat );
    }
}

/* SHOP */
.mainshop {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 450px);
    grid-gap: 15px;

    .image:hover {
        scale: 1.01;
    }

    .image {
        width: 100%;
        background-color: black;
        background-size: cover;
        background-position: center;
        display: grid;
    }

    .image1 {
        background-image: url(./img/merybacksola.png);
        @include shops( center , no-repeat );
    }

    .image2 {
        background-image: url(./img/semaforo.png);
        @include shops( center , no-repeat );
    }

    .image3 {
        background-image: url(./img/chiomerybueno.png);
        @include shops( center , no-repeat );
    }

    .image4 {
        background-image: url(./img/humbolt.png);
        @include shops( center , no-repeat );
    }

    .image5 {
        background-image: url(./img/riolosang.png);
        @include shops( center , no-repeat );
    }

    .image6 {
        background-image: url(./img/nachoperfil.png);
        @include shops( center , no-repeat );
    }

    .image7 {
        background-image: url(./img/merygonperfil.png);
        @include shops( center , no-repeat );
    }

    .image8 {
        background-image: url(./img/meryfront.png);
        @include shops( center , no-repeat );
    }

    .image9 {
        background-image: url(./img/gonperfil.png);
        @include shops( center , no-repeat );
    }

    .image10 {
        background-image: url(./img/knickstriptico.png);
        @include shops( center , no-repeat );
    }

    .image11 {
        background-image: url(./img/knickstriptico.png);
        @include shops( center , no-repeat );
    }

    .image12 {
        background-image: url(./img/nachovenice.png);
        @include shops( center , no-repeat );
    }
}

/* WOMEN/MEN */
.mainwear {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 600px);
    grid-gap: 15px;
    background-size: cover;

    .image {
        width: 100%;
        background-color: black;
        background-size: cover;
        background-position: center;
        display: grid;
    }

    .image23 {
        background-image: url(./img/pizzablancafrontprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image23:hover {
        background-image: url(./img/pizzablancabackprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image24 {
        background-image: url(./img/pizzanegrafrontprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image24:hover {
        background-image: url(./img/pizzanegrabackprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image25 {
        background-image: url(./img/nncblancafrontprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image25:hover {
        background-image: url(./img/nncblancabackprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image26 {
        background-image: url(./img/totepizzaprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image27 {
        background-image: url(./img/nncnegrafrontprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image27:hover {
        background-image: url(./img/nncnegrabackprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image28 {
        background-image: url(./img/totesnake.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image29 {
        background-image: url(./img/skullnegraprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image29:hover {
        background-image: url(./img/skullblancaprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image30 {
        background-image: url(./img/helmetblancafrontprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image30:hover {
        background-image: url(./img/helmetblancabackprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image31 {
        background-image: url(./img/helmetnegrafrontprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image31:hover {
        background-image: url(./img/helmetnegrabackprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image32 {
        background-image: url(./img/knicksnegrafrontprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image32:hover {
        background-image: url(./img/knicksnegrabackprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image33 {
        background-image: url(./img/knicksblancafrontprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image33:hover {
        background-image: url(./img/knicksblancabackprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image34 {
        background-image: url(./img/snakenegrafrontprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }

    .image34:hover {
        background-image: url(./img/snakenegrabackprecio.png);
        @include shops( center , no-repeat );
        width: auto;
        height: 600px;
    }
}


/* CONTACTO */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 400px;

        input[type="text"],
        input[type="email"],
        textarea {
            padding: 10px;
            border: 2px solid #ccc;
            border-radius: 20px;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;

            &:focus::placeholder {
                color: transparent;
            }
        }

        textarea::placeholder {
            font-family: Arial, sans-serif;
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        textarea:focus {
            outline: none;
        }

        input[type="submit"] {
            background-color: #000000;
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: #ffffff;
            box-shadow: 0 0 20px #ffffff;
            border-radius: 20px;
            display: block;

            &:hover {
                background-image: linear-gradient(to right,
                        #e55d87 0%,
                        #5fc3e4 51%,
                        #e55d87 100%);
                background-position: right center;
                color: #000000;
                text-decoration: none;
                scale: 1;
            }
        }

        label {
            font-size: 20px;
            font-weight: bold;
            text-align: left;
        }
    }
}

/* FOOTER */
footer {
    width: 100%;
    height: auto;
    background-color: #000000;
    color: white;
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;

    a {
        color: white;
        text-decoration: none;
        letter-spacing: 10px;
        font-size: 35px;

        &:hover {
            background: #9a9a9a;
            scale: 1.1;
            background: linear-gradient(to right bottom,
                    #d16ba5,
                    #c777b9,
                    #ba83ca,
                    #aa8fd8,
                    #9a9ae1,
                    #8aa7ec,
                    #79b3f4,
                    #69bff8,
                    #52cffe,
                    #41dfff,
                    #46eefa,
                    #5ffbf1);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }

    p {
        padding-top: 30px;
        font-size: 15px;
    }
}

@import "_mediaquery";
