.headertop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  color: #fff;
  width: 100%;
}
.headertop .redes i {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.headertop .redes i:hover {
  background: #9a9a9a;
  transform: scale(1.05);
  background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Nav */
.logo {
  text-align: right;
  text-decoration: none;
}
.logo img {
  height: 80px;
}
.logo img:hover {
  scale: 1.03;
}

.navbar-toggler {
  border: 0;
}

span .fa-solid {
  color: #000000;
  font-size: 25px;
  margin-right: 30px;
  margin-top: 0;
}

#navbarid {
  display: flex;
  justify-content: space-between;
  align-items: left;
  background-color: white;
  width: 100%;
  padding: 5px;
  padding-left: 20px;
  font-weight: bold;
  text-transform: capitalize;
  box-sizing: border-box;
}
#navbarid .barra {
  padding-right: 50px;
}
#navbarid .barra ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 20px;
}
#navbarid .barra ul li {
  margin: 20px;
}
#navbarid .barra ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
}
#navbarid .barra ul li a:hover, #navbarid .barra ul li a:active {
  background: #9a9a9a;
  background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/* Section */
.secimg {
  background-color: #000000;
  width: 100%;
  height: 500px;
  background-image: url(./img/nncv5.jpg);
  background-size: cover;
  background-position: bottom;
  margin-top: -60px;
  margin-bottom: 30px;
}
.secimg h1 {
  color: rgba(255, 255, 255, 0.457);
  font-size: 70px;
  text-align: center;
  padding-top: 220px;
  width: 100%;
}

/* INDEX/HOME */
.titulo {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 30px;
}

.mainhome1 {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: auto;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 450px);
  grid-gap: 15px;
}
.mainhome1 .image:hover {
  scale: 1.01;
}
.mainhome1 .image13 {
  background-image: url(./img/gonmskback.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainhome1 .image14 {
  background-image: url(./img/pizzabacknegra.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainhome1 .image15 {
  background-image: url(./img/gonmsk.png);
  background-position: center;
  background-repeat: no-repeat;
}

.mainhome2 {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: auto;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 450px);
  grid-gap: 15px;
}
.mainhome2 .image:hover {
  scale: 1.01;
}
.mainhome2 .image16 {
  background-image: url(./img/merygonperfiles.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainhome2 .image17 {
  background-image: url(./img/merygonperfilesback.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainhome2 .image18 {
  background-image: url(./img/pizzabacknegra.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainhome2 .image19 {
  background-image: url(./img/pizzafrontnegra.png);
  background-position: center;
  background-repeat: no-repeat;
}

.mainhome3 {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: auto;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 450px);
  grid-gap: 15px;
}
.mainhome3 .image:hover {
  scale: 1.01;
}
.mainhome3 .image20 {
  background-image: url(./img/classicbackblanca.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainhome3 .image21 {
  background-image: url(./img/calidreaming.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainhome3 .image22 {
  background-image: url(./img/classicfrontblanca.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* SHOP */
.mainshop {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: auto;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 450px);
  grid-gap: 15px;
}
.mainshop .image:hover {
  scale: 1.01;
}
.mainshop .image {
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  display: grid;
}
.mainshop .image1 {
  background-image: url(./img/merybacksola.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image2 {
  background-image: url(./img/semaforo.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image3 {
  background-image: url(./img/chiomerybueno.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image4 {
  background-image: url(./img/humbolt.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image5 {
  background-image: url(./img/riolosang.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image6 {
  background-image: url(./img/nachoperfil.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image7 {
  background-image: url(./img/merygonfront.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image8 {
  background-image: url(./img/meryfront.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image9 {
  background-image: url(./img/gonperfil.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image10 {
  background-image: url(./img/venicewhiteback.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image11 {
  background-image: url(./img/knickstriptico.png);
  background-position: center;
  background-repeat: no-repeat;
}
.mainshop .image12 {
  background-image: url(./img/nachovenice.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* WOMEN/MEN */
.mainwear {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: auto;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 600px);
  grid-gap: 15px;
  background-size: cover;
}
.mainwear .image {
  width: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
  display: grid;
}
.mainwear .image23 {
  background-image: url(./img/pizzablancafrontprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image23:hover {
  background-image: url(./img/pizzablancabackprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image24 {
  background-image: url(./img/pizzanegrafrontprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image24:hover {
  background-image: url(./img/pizzanegrabackprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image25 {
  background-image: url(./img/nncblancafrontprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image25:hover {
  background-image: url(./img/nncblancabackprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image26 {
  background-image: url(./img/totepizzaprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image27 {
  background-image: url(./img/nncnegrafrontprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image27:hover {
  background-image: url(./img/nncnegrabackprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image28 {
  background-image: url(./img/totesnake.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image29 {
  background-image: url(./img/skullnegraprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image29:hover {
  background-image: url(./img/skullblancaprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image30 {
  background-image: url(./img/helmetblancafrontprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image30:hover {
  background-image: url(./img/helmetblancabackprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image31 {
  background-image: url(./img/helmetnegrafrontprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image31:hover {
  background-image: url(./img/helmetnegrabackprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image32 {
  background-image: url(./img/knicksnegrafrontprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image32:hover {
  background-image: url(./img/knicksnegrabackprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image33 {
  background-image: url(./img/knicksblancafrontprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image33:hover {
  background-image: url(./img/knicksblancabackprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image34 {
  background-image: url(./img/snakenegrafrontprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}
.mainwear .image34:hover {
  background-image: url(./img/snakenegrabackprecio.png);
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  height: 600px;
}

/* CONTACTO */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}
.contact form input[type=text],
.contact form input[type=email],
.contact form textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
}
.contact form input[type=text]:focus::placeholder,
.contact form input[type=email]:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: transparent;
}
.contact form textarea::placeholder {
  font-family: Arial, sans-serif;
}
.contact form input[type=text]:focus,
.contact form input[type=email]:focus,
.contact form textarea:focus {
  outline: none;
}
.contact form input[type=submit] {
  background-color: #000000;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #ffffff;
  box-shadow: 0 0 20px #ffffff;
  border-radius: 20px;
  display: block;
}
.contact form input[type=submit]:hover {
  background-image: linear-gradient(to right, #e55d87 0%, #5fc3e4 51%, #e55d87 100%);
  background-position: right center;
  color: #000000;
  text-decoration: none;
  scale: 1;
}
.contact form label {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

/* FOOTER */
footer {
  width: 100%;
  height: auto;
  background-color: #000000;
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
}
footer a {
  color: white;
  text-decoration: none;
  letter-spacing: 10px;
  font-size: 35px;
}
footer a:hover {
  background: #9a9a9a;
  scale: 1.1;
  background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
footer p {
  padding-top: 30px;
  font-size: 15px;
}

@media screen and (max-width: 2000px) and (min-width: 1400px) {
  .mainwear {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 700px);
    grid-gap: 15px;
    background-size: cover;
  }

  .image {
    width: 500px;
    height: 700px;
  }
}
@media screen and (max-width: 900px) {
  .secimg {
    width: 100%;
    height: 300px;
    margin: 0;
  }

  .secimg h1 {
    font-size: 40px;
    padding-top: 120px;
  }

  .mainhome1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 450px);
    grid-gap: 15px;
  }

  .mainhome2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 450px);
    grid-gap: 15px;
  }

  .mainhome3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 450px);
    grid-gap: 15px;
  }

  .mainshop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 450px);
    grid-gap: 15px;
  }

  .mainwear {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 600px);
    grid-gap: 15px;
  }

  footer {
    width: 100%;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  footer a {
    letter-spacing: 5px;
    font-size: 25px;
  }

  footer p {
    padding-top: 30px;
    font-size: 15px;
  }
}
@media screen and (max-width: 450px) {
  .redes i {
    font-size: 15px;
    letter-spacing: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
  }

  .logo img {
    height: 65px;
  }

  span .fa-solid {
    font-size: 20px;
    margin-top: 0;
  }

  .secimg {
    height: 200px;
    margin: 0;
  }

  .secimg h1 {
    font-size: 25px;
    padding-top: 80px;
  }

  .mainhome1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 400px);
    grid-gap: 15px;
  }

  .mainhome2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 400px);
    grid-gap: 15px;
  }

  .mainhome3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 400px);
    grid-gap: 15px;
  }

  .mainshop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 400px);
    grid-gap: 15px;
  }

  .mainwear {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 600px);
    grid-gap: 15px;
  }

  form {
    width: 70%;
    max-width: 400px;
  }

  footer {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  footer a {
    letter-spacing: 5px;
    font-size: 25px;
  }

  footer p {
    padding-top: 15px;
    font-size: 10px;
  }
}
@media screen and (max-width: 300px) {
  .logo img {
    height: 50px;
  }

  .secimg {
    height: 150px;
    margin: 0;
  }

  .secimg h1 {
    font-size: 15px;
    padding-top: 60px;
  }

  .mainhome1 {
    grid-template-rows: repeat(1, 300px);
  }

  .mainhome2 {
    grid-template-rows: repeat(2, 300px);
  }

  .mainhome3 {
    grid-template-rows: repeat(1, 300px);
  }
}

/*# sourceMappingURL=estilos.css.map */
